<!--{% extends "layout.html" %}
{% block content %}-->
<h1><p style="color:white">Making ideas happen!!!</p></h1>


<!--<marquee behavior="scroll" bgcolor="yellow" loop="-1" width="30%">
   <i>
      <font color="blue">
        This is our STORY
        <strong>
         <span id="time"></span>
        </strong>
      </font>
   </i>
</marquee>-->

<p style="color:white">The best ideas can change who we are. <strong><em>Treasure Xone</em></strong>, is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.  We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital storytelling without giving in to the incentives of advertising. It’s an environment that’s open to everyone but promotes substance and authenticity. And it’s where deeper connections forged between readers and writers can lead to discovery and growth. Together with millions of collaborators, we’re building a trusted and vibrant ecosystem fueled by important ideas and the people who think about them.

</p>

<style>
body {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pdflowerset19b2-eye-02-c-tropical-leaves-l_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=df5464ce6b3d74f1826f7b6c7d27e8b2');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>


<img src = "https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fG1hbiUyMHdvcmtpbmclMjBvbiUyMGNvbXB1dGVyfGVufDB8fDB8&w=1000&q=80">


 <div class="middle-heading-wrap mobile-left">
      <h1 class="header-1"><p style="color:white"> A living network of curious minds.</p></h1>
      <div class="paragraph-wrap p-2">
        <p class="paragraph", style="color:white">Anyone can write on Medium. Thought-leaders, journalists, experts, and individuals with unique perspectives share their thinking here. You’ll find pieces by independent writers from around the globe, stories we feature and leading authors, and smart takes on our own suite of blogs and publications.</>
      </div>
 </div>

<div class="middle-heading-wrap left-aligned sub-section">
  <h3 class="header-1 msd1 inv"><p style="color:white">Create the space for your thinking to take off.</h3></p>
      <div class="paragraph-wrap p-1">
        <p class="paragraph inv"><p style="color:white">A blank page is also a door. At Treasure Xone you can walk through it. It&#x27;s easy and free to share your thinking on any topic, connect with an audience, express yourself with a range of publishing tools, and even earn money for your work.</p>
      </div>
</div>



<!--{% endblock content %}-->